@font-face {
  font-family: "KCCAhnjunggeun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCAhnjunggeun.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Happy_dobi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Happy_dobi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  display: none;
}

.container1 {
  height: 100vh;
  background: url("../src/—Pngtree—red\ and\ blue\ gradient\ overprinted_5360525\ 1.png") fixed;
  background-size: cover;
  display: none;
  z-index: 999;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  z-index: 11;
}

.menuText {
  font-size: 26px;
  font-weight: 600;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.wrap {
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 100px;
}
header a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  transition: 0.3s;
}

.timeLine {
  display: flex;
}

.timeLine li {
  width: 200px;
}

.timeLine > li > ul {
  height: 0;
  transition: 0.3s;
  overflow: hidden;
}
.timeLine > li > ul > a {
  height: 50px;
}

.timeLine > li:hover ul {
  height: 200px;
}

.timeLine ul a:hover {
  background: #b3c890;
  color: #fff;
}

.timeLine li:hover > .drop_back {
  height: 200px;
}
.drop_back {
  position: absolute;
  z-index: -1;
  transition: 0.3s;
  top: 100%;
  right: -100px;
  width: 100vw;
  height: 0;
  background-color: #eee;
}
.input_box {
  height: 100px;
  display: flex;
  align-items: center;
}
#input {
  width: 250px;
  height: 30px;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #000;
}

.rememberKoreanWar {
  padding: 100px;
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rememberKoreanWar > h1 {
  font-size: 200px;
  letter-spacing: 10px;
  font-family: "Happy_dobi";
}

.rememberKoreanWar > p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "KCCAhnjunggeun";
}

.container2 {
  height: 650px;
  background: url(../src/image\ 2.png);
  display: none;
  justify-content: end;
  align-items: end;
}

.greantBg {
  width: 518px;
  height: 164px;
  background-image: linear-gradient(322deg, #3d3d3d 6.25%, rgba(61, 61, 61, 0.11) 94.79%, rgba(61, 61, 61, 0.16) 99.99%, rgba(61, 61, 61, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.greantBg p {
  color: #fff;
  font-size: 36px;
  margin-bottom: 10px;
}

.greantBg button {
  width: 138px;
  height: 41px;
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 15px;
  font-size: 20px;
}

.greantBg1 button {
  margin-left: 100px;
}

.greantBg2 *,
.greantBg3 * {
  margin-left: 100px;
}

.greantBg button:hover {
  cursor: pointer;
  border: 0;
  background: #fff;
  color: #000;
}

.bg {
  box-sizing: border-box;
  width: 100%;
  height: 128px;
  background: #232323;
}
.container3 {
  display: none;
  height: 641px;
  background: url(../src/war-transformed\ 1.png) no-repeat;
  justify-content: end;
  align-items: end;
  z-index: -1;
}

.container4 {
  display: none;
  height: 641px;
  background: url(../src/close-up-on-small-greece-flag-isolated\ 1.png) no-repeat;
  justify-content: end;
  align-items: end;
  z-index: -1;
}

.foot {
  background: #2c2a29;
  height: 70px;
  width: 100%;
  color: white;
  text-align: center;
  display: none;
}

.about {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}
