body {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
input[type="text"] {
  width: 250px;
  height: 30px;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #000;
}

.radio-container {
  margin: 20px;
  width: 60vw;
  display: flex;
  justify-content: space-around;
}
input[type="radio"] {
  appearance: none; /* 라디오 버튼의 기본 스타일을 없앰 */
  margin-right: 80px; /* 라디오 버튼 간의 간격 조정 */
  position: relative;
}
.flex {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.radio-container label {
  text-align: center;
  width: 200px;
  border-radius: 15px;
  cursor: pointer; /* 라벨에 마우스 커서를 올리면 포인터 모양으로 변경 */
  padding: 5px 13px; /* 라벨의 여백 설정 */
  font-size: 25px; /* 라디오 버튼 텍스트 크기 조정 */
}
.page {
  width: 80vw;
  height: 70vh;
  display: none;
  border: 1px solid #000;
}

#radio1:checked ~ .radio-container .radio1,
#radio2:checked ~ .radio-container .radio2,
#radio3:checked ~ .radio-container .radio3,
#radio4:checked ~ .radio-container .radio4 {
  color: #ffffff;
  background-color: #3a389d;
}
#radio1:checked ~ .page1,
#radio2:checked ~ .page2,
#radio3:checked ~ .page3,
#radio4:checked ~ .page4 {
  display: block;
}

.foot {
  position: absolute;
  bottom: 0;
}
