<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/timeline.css" />
  <link rel="stylesheet" href="../css/style.css">
  <script src="/js/app.js" defer></script>
  <script src="../js/timeLine.js" defer></script>
  <script src="/js/war.js" defer></script>
  <title>Timeline</title>
</head>

<body>
  <header>
    <div class="logo">
      <a href="/">
        <img src="/src/-001.png" alt="logo" class="img">
      </a>
    </div>
    <div class="wrap">
      <a href="/view/timeline.html" class="menuText">
        <p class="red">전쟁 타임라인</p>
      </a>
      <a href="/view/war.html" class="menuText">전투</a>
      <a href="/view/veterans.html" class="menuText">참전국</a>
      <div class="input_box">
        <input type="text" id="input" list="searchPage" placeholder=" 원하시는 정보의 키워드를 입력해주세요" />
        <datalist id="searchPage">
          <option value="war">전쟁</option>
          <option value="veterans">참전국</option>
          <option value="timeLine">타임라인</option>
          <option value="warDocument">전투</option>
          <option value="AboutUs">AboutUS</option>
        </datalist>
      </div>
    </div>
  </header>

  <div class="flex">
    <div class="radio-container">
      <input type="radio" id="radio1" name="timeline" value="a" checked />
      <label for="radio1">전쟁 초반</label>

      <input type="radio" id="radio2" name="timeline" value="b" />
      <label for="radio2">초중반</label>

      <input type="radio" id="radio3" name="timeline" value="c" />
      <label for="radio3">전쟁 중후반</label>

      <input type="radio" id="radio4" name="timeline" value="d" />
      <label for="radio4">전쟁 말기</label>
    </div>
    <div class="result">
      <div class="result1" id="imgdiv"><img src="/src/war_first.png" alt=""></div>
      <div class="result2" id="description">
        <!--내용은 app.js에 war 배열에 있는 description에 넣으면 됨  -->
        한국전쟁은 1950년 6월 25일 새벽에 북위 38°선 전역에 걸쳐 북한군이 불법 남침함으로써 일어난 한반도 전쟁이다. 광복 후 한반도에는 냉전체제 속에서 남북에 별개의 정부가 수립되었다. 이 과정에서
        막강한 군사력을 갖춘 북한이 통일을 명분으로 전면적인 남침을 개시했다.
      </div>
    </div>
  </div>


  <footer class="foot">
    <a class="about" href="AboutUs.html">About us</a>
  </footer>
</body>

</html>