<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/timeline.css" />
  <link rel="stylesheet" href="../css/style.css">
  <script src="../js/timeLine.js" defer></script>
  <title>Timeline</title>
</head>

<body>
  <header>
    <div class="wrap">
      <ul class="timeLine">
        <li>
          <a href="/view/timeline.html" class="menuText">전쟁 타임라인</a>
          <ul class="drop">
            <a href="/view/timeline.html" class="menuText">
              <li>전쟁초반</li>
            </a>
            <a href="/view/timeline.html" class="menuText">
              <li>전쟁 초중반</li>
            </a>
            <a href="/view/timeline.html" class="menuText">
              <li>전쟁 중후반</li>
            </a>
            <a href="/view/timeline.html" class="menuText">
              <li>전쟁 말기</li>
            </a>
          </ul>
          <div class="drop_back"></div>
        </li>

        <li>
          <a href="/view/war.html" class="menuText">전투</a>
          <ul class="drop">
            <a href="/view/war.html" class="menuText">
              <li>서울</li>
            </a>
            <a href="/view/war.html" class="menuText">
              <li>경기도</li>
            </a>
            <a href="/view/war.html" class="menuText">
              <li>충청도</li>
            </a>
            <a href="/view/war.html" class="menuText">
              <li>경상도</li>
            </a>
          </ul>
          <div class="drop_back"></div>
        </li>

        <li>
          <a href="/view/veterans.html" class="menuText">참전병</a>
          <ul class="drop">
            <a href="/view/veterans.html" class="menuText">
              <li>전투부대 파병국</li>
            </a>
            <a href="/view/veterans.html" class="menuText">
              <li>의료지원국</li>
            </a>
            <a href="/view/veterans.html" class="menuText">
              <li>전시물자 지원국</li>
            </a>
            <a href="/view/veterans.html" class="menuText">
              <li>전후복구 지원국 </li>
            </a>
          </ul>
          <div class="drop_back"></div>
        </li>
        <div class="drop_back"></div>
      </ul>
      <div class="input_box">
        <input type="text" id="input" placeholder=" 원하시는 정보의 키워드를 입력해주세요" />
      </div>
    </div>
  </header>

  <div class="flex">
    <div class="radio-container">
      <input type="radio" id="radio1" name="timeline" value="a" checked />
      <label for="radio1">전쟁 초반</label>

      <input type="radio" id="radio2" name="timeline" value="b" />
      <label for="radio2">초중반</label>

      <input type="radio" id="radio3" name="timeline" value="c" />
      <label for="radio3">전쟁 중후반</label>

      <input type="radio" id="radio4" name="timeline" value="d" />
      <label for="radio4">전쟁 말기</label>
    </div>
    <div class="result">
      <div class="result1" id="imgdiv"><img src="/src/war_first.png" alt=""></div>
      <div class="result2" id="description">
        <!--내용은 app.js에 war 배열에 있는 description에 넣으면 됨  -->
        엄
      </div>
    </div>
  </div>


  <footer class="foot">
    <a class="about" href="AboutUs.html">About us</a>
  </footer>
</body>

</html>