<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/veterans.css">
  <link rel="stylesheet" href="../css/style.css">
  <title>Document</title>
</head>

<body>
  <div class="containers">
    <header>
      <div class="wrap">
        <ul class="timeLine">
          <li>
            <a href="/view/timeline.html" class="menuText">전쟁 타임라인</a>
            <ul class="drop">
              <a href="/view/timeline.html" class="menuText">
                <li>전쟁초반</li>
              </a>
              <a href="/view/timeline.html" class="menuText">
                <li>전쟁 초중반</li>
              </a>
              <a href="/view/timeline.html" class="menuText">
                <li>전쟁 중후반</li>
              </a>
              <a href="/view/timeline.html" class="menuText">
                <li>전쟁 말기</li>
              </a>
            </ul>
            <div class="drop_back"></div>
          </li>

          <li>
            <a href="/view/war.html" class="menuText">전투</a>
            <ul class="drop">
              <a href="/view/war.html" class="menuText">
                <li>서울</li>
              </a>
              <a href="/view/war.html" class="menuText">
                <li>경기도</li>
              </a>
              <a href="/view/war.html" class="menuText">
                <li>충청도</li>
              </a>
              <a href="/view/war.html" class="menuText">
                <li>경상도</li>
              </a>
            </ul>
            <div class="drop_back"></div>
          </li>

          <li>
            <a href="/view/veterans.html" class="menuText">참전병</a>
            <ul class="drop">
              <a href="/view/veterans.html" class="menuText">
                <li>전투부대 파병국</li>
              </a>
              <a href="/view/veterans.html" class="menuText">
                <li>의료지원국</li>
              </a>
              <a href="/view/veterans.html" class="menuText">
                <li>전시물자 지원국</li>
              </a>
              <a href="/view/veterans.html" class="menuText">
                <li>전후복구 지원국 </li>
              </a>
            </ul>
            <div class="drop_back"></div>
          </li>
          <div class="drop_back"></div>
        </ul>
        <div class="input_box">
          <input type="text" id="input" placeholder=" 원하시는 정보의 키워드를 입력해주세요" />
        </div>
      </div>
    </header>
    <div class="con2">

      <input type="radio" name="1" checked id="a">
      <input type="radio" name="1" id="b">
      <input type="radio" name="1" id="c">
      <input type="radio" name="1" id="d">
      <input type="radio" name="1" id="e">
      <input type="radio" name="1" id="f">
      <div class="label_box">

        <label for="a" class="a">전투부대</br>파병국</label>
        <label for="b" class="b">의료지원국</label>
        <label for="c" class="c">전시물자</br>지원국</label>
        <label for="d" class="d">전후복구</br>지원국</label>
        <label for="e" class="e">지원의사</br>표명국</label>
        <label for="f" class="f">물자 및 재정</br>지원국</label>



      </div>
      <div class="page page1">미국, 영국, 오스트렐리아, 네덜란드, 캐나다, 프랑스, 뉴질랜드, 필리핀, 튀르키예, 태국, 남아프리공화국, 그리스, 벨기에, 룩셈부르크, 에티오피아, 콜롬비아
      </div>
      <div class="page page2">2</div>
      <div class="page page3">3</div>
      <div class="page page4">4</div>
      <div class="page page5">5</div>
      <div class="page page6">6</div>

    </div>
    <footer class="foot">
      <a class="about" href="AboutUs.html">About us</a>
    </footer>
  </div>

</body>

</html>