<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/veterans.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="/js/app.js" defer></script>

    <title>Document</title>
  </head>

  <body>
    <div class="containers">
      <header>
        <div class="logo">
          <a href="/">
            <img src="/src/-001.png" alt="logo" />
          </a>
        </div>
        <div class="wrap">
          <a href="./view/timeline.html" class="menuText">전쟁 타임라인</a>
          <a href="./view/war.html" class="menuText">전투</a>
          <a href="./view/veterans.html" class="menuText">
            <p class="red">참전국</p>
          </a>
          <div class="input_box">
            <input
              type="text"
              id="input"
              list="searchPage"
              placeholder=" 원하시는 정보의 키워드를 입력해주세요"
            />
            <datalist id="searchPage">
              <option value="war">전쟁</option>
              <option value="veterans">참전국</option>
              <option value="timeLine">타임라인</option>
              <option value="warDocument">전투</option>
              <option value="AboutUs">AboutUS</option>
            </datalist>
          </div>
        </div>
      </header>
      <div class="con2">
        <input type="radio" name="1" checked id="a" />
        <input type="radio" name="1" id="b" />
        <input type="radio" name="1" id="c" />
        <input type="radio" name="1" id="d" />
        <input type="radio" name="1" id="e" />
        <input type="radio" name="1" id="f" />
        <div class="label_box">
          <label for="a" class="a">지상군 지원</label>
          <label for="b" class="b">공군 지원</label>
          <label for="c" class="c">해군 지원</label>
        </div>
        <div class="page page1"></div>
        <div class="page page2">2</div>
        <div class="page page3">3</div>
      </div>
      <footer class="foot">
        <a class="about" href="AboutUs.html">About us</a>
      </footer>
    </div>
  </body>
</html>
