<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/war.css" />
  <title>Timeline</title>
</head>

<body>
  <header>
    <div class="wrap">
      <ul class="timeLine">
        <li>
          <a href="/" class="menuText">전쟁 타임라인</a>
          <ul class="drop">
            <a href="/" class="menuText">
              <li>전쟁초반</li>
            </a>
            <a href="/" class="menuText">
              <li>전쟁 초중반</li>
            </a>
            <a href="/" class="menuText">
              <li>전쟁 중후반</li>
            </a>
            <a href="/" class="menuText">
              <li>전쟁 말기</li>
            </a>
          </ul>
          <div class="drop_back"></div>
        </li>

        <li>
          <a href="/" class="menuText">전투</a>
          <ul class="drop">
            <a href="/" class="menuText">
              <li>서울</li>
            </a>
            <a href="/" class="menuText">
              <li>경기도</li>
            </a>
            <a href="/" class="menuText">
              <li>충청도</li>
            </a>
            <a href="/" class="menuText">
              <li>경상도</li>
            </a>
          </ul>
          <div class="drop_back"></div>
        </li>

        <li>
          <a href="/" class="menuText">참전병</a>
          <ul class="drop">
            <a href="/" class="menuText">
              <li>전투부대 파병국</li>
            </a>
            <a href="/" class="menuText">
              <li>의료지원국</li>
            </a>
            <a href="/" class="menuText">
              <li>전시물자 지원국</li>
            </a>
            <a href="/" class="menuText">
              <li>전후복구 지원국 </li>
            </a>
          </ul>
          <div class="drop_back"></div>
        </li>


        <div class="drop_back"></div>
      </ul>
      <div class="input_box">
        <input type="text" placeholder=" 원하시는 정보의 키워드를 입력해주세요" />
      </div>
    </div>
  </header>
  <div class="flex">
    <input type="radio" id="radio1" name="timeline" value="a" checked />
    <input type="radio" id="radio2" name="timeline" value="b" />
    <input type="radio" id="radio3" name="timeline" value="c" />
    <input type="radio" id="radio4" name="timeline" value="d" />
    <div class="radio-container">
      <label for="radio1" class="radio1">서울</label>

      <label for="radio2" class="radio2">경기도</label>

      <label for="radio3" class="radio3">충청도</label>

      <label for="radio4" class="radio4">경상도</label>
    </div>
    <div class="page page1">1</div>
    <div class="page page2">2</div>
    <div class="page page3">3</div>
    <div class="page page4">4</div>

  </div>

  <div class="bottom-box"></div>
  <div class="menu-container"></div>
</body>

</html>