<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/warDocument.css">
  <script src="/js/app.js" defer></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee328385dcd208e368b5f51600ee4797"></script>
  <script src="/js/warDocument.js" defer></script>
  <title>Document</title>

</head>

<body>
  <header>
    <div class="logo">
      <a href="/">
        <img src="/src/-001.png" alt="logo">
      </a>
    </div>
    <div class="wrap">
      <a href="/view/timeline.html" class="menuText">전쟁 타임라인</a>
      <a href="/view/war.html" class="menuText">전투</a>
      <a href="/view/veterans.html" class="menuText">참전국</a>
      <div class="input_box">
        <input type="text" id="input" list="searchPage" placeholder=" 원하시는 정보의 키워드를 입력해주세요" />
        <datalist id="searchPage">
          <option value="war">전쟁</option>
          <option value="veterans">참전국</option>
          <option value="timeLine">타임라인</option>
          <option value="warDocument">전투</option>
          <option value="AboutUs">AboutUS</option>
        </datalist>
      </div>
    </div>
  </header>

  <div class="result">
    <div id="map"></div>
    <div id="title">
      <h1>미아리 전투</h1>
      <div class="description">
        <p>미아리 전투는 한국 전쟁 초기 북한군의 기습적인 전면 남침으로 38도 분계선에 연한 전 전선이 무너지자,<br>
          육군본부는 38도 분계선으로부터 45km에 불과한 수도 서울에 대한 위협에 직면하게 되자 이응준(李應俊) 소장이 이끄는 국군 제5사단과 유재흥(劉載興) 준장이<br>
          이끄는 제7사단이 미아리고개에서 치른
          최후의 서울 방어 전투이다.</p>
      </div>
      </p>
    </div>
  </div>

  <footer class="foot">
    <a class="about" href="AboutUs.html">About us</a>
  </footer>
</body>


</html>